<!doctype html>
<html>
  <head>
    <title>My Site</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script type="text/javascript" src="//use.typekit.net/xkn2niw.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
   </head>
  <body>
    <%- yield %>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/smoothscroll.js"></script>
    <script src="/javascripts/jquery.sticky.js"></script>
    <script>
    $(window).load(function(){
      $("#navbar").sticky({ topSpacing: 0, center:true, className:"hey" });
    });
  </script>
  </body>
</html>